*

!.gitignore
!UnityWebModkit/
UnityWebModkit/*

!UnityWebModkit/.gitattributes
!UnityWebModkit/.gitignore
!UnityWebModkit/.prettierignore
!UnityWebModkit/.prettierrc.json
!UnityWebModkit/CHANGELOG.md
!UnityWebModkit/LICENSE
!UnityWebModkit/package-lock.json
!UnityWebModkit/package.json
!UnityWebModkit/README.md
!UnityWebModkit/tsconfig.json
!UnityWebModkit/Usage.md
!UnityWebModkit/webpack.config.js
!UnityWebModkit/yarn.lock

!UnityWebModkit/src/
!UnityWebModkit/src/**

!UnityWebModkit/dist/
!UnityWebModkit/dist/*.js

UnityWebModkit/examples/
UnityWebModkit/lib/
UnityWebModkit/node_modules/
UnityWebModkit/UNITYWEBMODKIT_QUICK_REF.zh-TW.md
UnityWebModkit/UNITYWEBMODKIT_USAGE.zh-TW.md
